/* normalizing css */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* site variables here */
:root {
  --purple: #515fbc;
  --gray-light: #8e99a1;
  --blue-dark: #1e262f;
  --white: #fefefe;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

h1 {
  font-size: 50px;
}

@media (max-width: 1200px) {
  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 12px;
  }
}

.logo > img {
  width: 80px;
  margin: 30px 0;
}

@keyframes purple-gradient {
  0% {background-color: var(--purple);}
  50%{background-color: var(--blue-dark);}
  
  100%{background-color: var(--purple);}
  
}

.purple-section {
  background-color: var(--purple);
  color: var(--white);

  animation-name: purple-gradient;
  animation-duration: 12s;
}

.form-cta {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.form-cta > input {
  width: 200px;
  margin-right: 10px;
  padding: 10px;
  border-radius: 3px;
  border: solid 1px gray;
}

.form-cta > button {
  background-color: var(--blue-dark);
  color: var(--white);
  padding: 7px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.form-cta > button:hover {
  background-color: var(--gray-light);
  color: var(--blue-dark);
}

.form-cta > button:active {
  background-color: var(--purple);
  border: solid 1px var(--white);
}


@media (max-width: 1200px) {
  #img-laptop {
    width: 100%;
  }
}

.img-waves {
  width: 100%;
  vertical-align: middle;
}

/*================== SECTION ARTICLES =============== */
#section-articles {
  display: flex;
  max-width: 1320px;
  /* trick to center items  */
  margin: 0 auto;
}

@media (max-width: 800px) {
  #section-articles {
    flex-direction: column;
  }
}

#section-articles > article {
  padding: 40px;
}

#section-articles > article h4 {
  font-size: 12px;
}

#section-articles > article p {
  color: var(--gray-light);
  padding: 12px 0;
}

hr {
  width: 500px;
  text-align: center;
  margin: 0 auto;
}

@media (max-width: 800px) {
  hr {
    width: 200px;
  }
}

/* ========== SECTION CLIENTS ============*/

#section-clients img {
  width: 80px;
  margin: 2rem 4px;
}

/* ========== TESTIMONIALS ============*/
#section-testimonials {
  margin-top: 3rem;
}
#section-testimonials > button {
  margin-top: 3rem;
  background-color: var(--purple);
  color: var(--white);
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
}

span {
  text-transform: uppercase;
}

/* ========== FOOTER STYLES ============*/

footer ul {
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;
}

footer ul li {
  color: var(--purple);
  font-size: 10px;
  list-style: none;
  cursor: pointer;
}
